/private/settings.py
/static/
/autoload
/dbindexer
/django
/djangoappengine
/djangotoolbox
/httplib2
/main/static/bootstrap.css
/main/static/bootstrap-responsive.css
/main/static/bootstrap-collapse.js
/main/static/jquery.js
/oauth2
/plurk_oauth
/tweepy
*~
*.pyc
/.gaedata/
.DS_Store
Thumbs.db
